/* Common section  */
body{
    font-family: 'Source Sans Pro', sans-serif;
}
/* Header section  */
header{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #264653;
    color: white;
    /* text-align: justify; */
}
.header-title{
    padding-right: 150px;
    padding-left: 50px;
}
header h6{
    font-weight: 300;
    font-size: 14px;
}
header h1{
    font-weight: 600;
    font-size: 48px;
    padding-bottom: 10px;
}
header p{
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 5px;
}
.honda-btn{
    background-color: #E76F51;
    width: 168px;
    height: 44px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
}
.modal-content{
    color: black;
}
/* Feature bike section  */
.feature-bike-title{
    margin: 64px auto 115px auto;
}
.feature-bike-title h1{
    font-size: 48px;
    font-weight: 600;
}
.feature-bike-title h5{
    font-weight: 600;
    font-size: 14px;
}
.orange-title{
    color: #E76F51;
}
.feature-bike-img img{
    padding: 0px 60px;
    padding-bottom: 145px;
}
.gray-effect{
    filter: grayscale(1);
}
/* Happy Client section  */
.about-client{
    padding-bottom: 160px;
}
.card{
    width: 323px;
}
.client-title{
    padding-bottom: 50px;
}
.about-client img{
    width: 150px;
    margin: 0 auto;
    padding-top: 40px;
}
.card-body{
    padding: 35px;
}
.card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.icons{
    padding-bottom: 15px;
}
.fas{
    color: #E77C40;
}
.far{
    color: #E77C40;
}
.card-body h6{
    font-size: 14px;
    font-weight: 600;
}
.blue-title{
    color: #23A6F0;
    padding-bottom: 10px;
}

/* Question Section  */
article{
    padding-bottom: 140px;
}
article h1{
    font-size: 48px;
    font-weight: 600;
}
article img{
    padding-right: 15%;
}
.question-title{
    padding-bottom: 115px;
}
.accordion-item{
    margin: 5%;
}
/* Contact Us section  */
.contactUs{
    background-color: #e7e9eb77;
    padding: 5%;
}
.contactUs h3{
    font-weight: 600;
}
.form-control{
    margin-bottom: 2%;
    width: 130%;
}
/* Video Section  */
.video{
    padding-bottom: 5%;
    background-color: #003456;;
}
.video h1{
    color: white;
    font-weight: 700;
}
.video h5{
    font-size: 30px;
    font-weight: 600;
}
/* Footer section */
footer{
    background-color: #e7e9eb77;
}